<h3>{{viewTitle}}</h3>

<form action="/employees" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{employee._id}}">
    <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" name="firstName" placeholder="First name" value="{{employee.firstName}}">
        <div class="text-danger">
            {{employee.firstName}}</div>
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" name="lastName" placeholder="Last name" value="{{employee.lastName}}">
        <div class="text-danger">
            {{employee.lastName}}</div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Salary</label>
            <input type="text" class="form-control" name="salary" placeholder="Salary" value="{{employee.salary}}">
        </div>
        <div class="form-group col-md-6">
            <label>Designation</label>
            <input type="text" class="form-control" name="designation" placeholder="Designation" value="{{employee.designation}}">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/employee/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>